<p id="notice"><%= notice %></p>

<h1>Breastfeedings</h1>
<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Bebe</th>
            <th>Cantidad</th>
            <th>Duracion</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @breastfeedings.each do |breastfeeding| %>
            <tr>
                <td><%= breastfeeding.date %></td>
                <td><%= breastfeeding.baby %></td>
                <td><%= breastfeeding.quantity %></td>
                <td><%= breastfeeding.length %></td>
                <td><%= breastfeeding.baby %></td>
                <td><%= link_to  "Mostrar", baby_breastfeeding_path(@baby, breastfeeding) %></td>
                <td><%= link_to  "Editar", edit_baby_breastfeeding_path(@baby, breastfeeding) %></td>
                <td><%= link_to  "Nuevo", new_baby_breastfeeding_path(@baby) %></td>
            </tr>
        <% end %>
    </tbody>
</table>