<h1>Breastfeedings</h1>
<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Bebe</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @breastfeedings.each do |breastfeeding| %>
            <tr>
                <td><%= breastfeeding.date %></td>
                <td><%= breastfeeding.baby %></td>
                <td><%= breastfeeding.quantity %></td>
                <td><%= breastfeeding.length %></td>
                <td>*<%= link_to  "Mostrar", breastfeeding %></td>
            </tr>
        <% end %>
    </tbody>
</table>