
  <p id="notice"><%= notice %></p>
  
  
  <strong>Fecha:</strong>
  <%= @breastfeeding.date %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @breastfeeding.quantity %>
</p>

<p>
  <strong>Duracion:</strong>
  <%= @breastfeeding.length %>
</p>

<p>
  <strong>Nombre del bebe:</strong>
  <%= @breastfeeding.baby %>
</p>

<%= link_to  "Editar", edit_baby_breastfeeding_path(@baby, @breastfeeding) %>
<%= link_to  "Atras", baby_breastfeedings_path(@baby) %>
